@model List<ProductType> // Model@ nshanakum enq ProductType
@{
    ViewData["Title"] = "ProductType";
}
<div>
    <a asp-controller="ProductType" asp-action="Create" class="btn btn-primary">
        Creat Product type
    </a> 
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Action
            </th>
         
        </tr>
    </thead>
    <tbody>
        @foreach(var productType in Model)//Model@ dynamica iskzbane,bayc verevum iran sarqelenq List<ProductTypes> tesaki
        {
            <tr>
                <td>
                    @productType.Id
                </td>
                <td>
                    @productType.Name
                </td>
                <td>
                    @productType.Description
                </td>
                <td>
                    <a asp-controller="ProductType" asp-action="Edit" asp-route-id="@productType.Id " class="btn btn-secondary">
                       Edit
                    </a>
                </td>

            </tr> 
        }
    </tbody>
