@model ProductViewModel

<h1>Add to Cart</h1>
<p>Product Name: @Model.Product.Name</p>
<p>Price: $@Model.Product.UnitPrice</p>
<p>Description: @Model.Product.Description</p>

<form asp-controller="ShoppingCarts" asp-action="AddToCart" asp-route-id="@Model.Product.Id" method="post">
    <button type="submit">Add to Cart</button>
</form>
