@model List<UnitOfMeasure>

@{
    ViewData["Title"] = "UnitOfMeasures";
}

<a class="btn btn-primary" asp-controller="UnitOfMeasures" asp-action="Create">
    Create UnitOfMeasure
</a>
<table class=" table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var unitofMeasure in Model)
        {
            <tr>
                <td>
                    @unitofMeasure.Id
                </td>
                <td>
                    @unitofMeasure.Name
                </td>
                <td>
                    @unitofMeasure.Description
                </td>
                <td>
                    <a asp-controller="UnitOfMeasures" asp-action="Edit" asp-route-id="@unitofMeasure.Id" class="btn btn-secondary">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>