
@{
    ViewData["Title"] = "Products";
}
<a asp-controller="UnitOfMeasures" asp-action="Create" class="btn btn-primary">
    Creat Unit of measure
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>

            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var unitOfMeasures in Model)
        {
            <tr>
                <td>
                    @unitOfMeasures.Id
                </td>
                <td>
                    @unitOfMeasures.Name
                </td>
                <td>
                    @unitOfMeasures.Description
                </td>

                <td>
                    <a asp-controller="UnitOfMeasures" asp-action="Edit" asp-route-id="@unitOfMeasures.Id" class="btn btn-secondary ">
                        Edit
                    </a>
                </td>

            </tr>
        }
    </tbody>

