@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>
        about us
    </title>
   
</head>
<Body class="body-about">
    <h1 class="about">
        About us
    </h1>
    <p>

    </p>
    <div class="test">
        <h3 class="about-us">

            <span>The Start</span>

        </h3>
        <div>
            <div class="image aligned">
                <p class="about-text">Yerevan Burger™ was born in 2013 after a fruitless search for a good old-fashioned hamburger. During his days in the financial industry, Jacques traveled the world and discovered that the best food, anywhere in the world, could be found in restaurants that had a limited menu. With the hamburger being one of his favourite foods, Jacques frequented many hamburger spots during his travels. Back home in Toronto, the inability to find a well-made classic hamburger was particularly frustrating to him. Despite Toronto being a hub for restaurants, and hamburgers, he simply could not find the delicious old-fashioned <em>fresh</em> burger he was seeking. It felt as though restaurants were trying too hard to be different and innovative, overcomplicating a simple concept.</p>
                <img src="~/images/freshburger.jpg" alt=" freshburger picture " />
            </div>
        </div>
    </div>
    
</Body>
</html>