@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>
        contac us
    </title>
    
</head>
<body>
    <div class="contacts ">
        <div class="contacts-h3 ">
            <h3 class="padding-contacts">
                contacts
            </h3>
            <div>
                phone
                <p>
                    +37494949494
                </p>
                <p>
                    +37410808080
                </p>
            </div>
        </div>
        <div class="contacts-h3">
            <h3>
                adress
            </h3>
            <div>
                <p>
                    Armenia, 0001, Yerevan
                </p>
                <p>
                    Sayat-Novai Ave., 15 Building
                </p>
            </div>
        </div>
        <div class="contacts-h3">
            <h3>
                work time
            </h3>
            <div>
                <table class="table-contacts">
                    <tbody>
                        <tr>
                            <th class="x2TOCf">monday:</th>
                            <td class="o0m3Qb">
                                <span class="WF8WNe">10:00–00:00</span>
                            </td>
                        </tr>
                        <tr><th class="x2TOCf">вт:</th><td class="o0m3Qb"><span class="WF8WNe">10:00–00:00</span></td></tr>
                        <tr><th class="x2TOCf">ср:</th><td class="o0m3Qb"><span class="WF8WNe">10:00–00:00</span></td></tr>
                        <tr><th class="x2TOCf">чт:</th><td class="o0m3Qb"><span class="WF8WNe">10:00–00:00</span></td></tr>
                        <tr><th class="x2TOCf">пт:</th><td class="o0m3Qb"><span class="WF8WNe">10:00–00:00</span></td></tr>
                        <tr><th class="x2TOCf">сб:</th><td class="o0m3Qb"><span class="WF8WNe">10:00–00:00</span></td></tr>
                        <tr><th class="x2TOCf">вс:</th><td class="o0m3Qb"><span class="WF8WNe">10:00–00:00</span></td></tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>