
<div class="contuct-text">
    <h2>
        **Contuct us**
    </h2>
</div>
<div class="contuct-us">
    <h5>
        We're here to help and answer any questions you might have. Please feel free to get in touch with us using any of the methods below.
    </h5>
</div>
<ul class="contuct-list">
    <li>
        <h3>
            OPENING HOURS
        </h3>
        <p>
            Monday - Sunday
        </p>
        <p>
            08:30 AM - 02:00 AM
        </p>
    </li>
    <li>
        <h3>
            RESERVATIONS
        </h3>
        <p>
            To make a reservation, please call us at:
        </p>
        <p>
            Phone: (123) 456-7890
        </p>
    </li>
    <li>
        <h3>
            GENERAL INQUIRIES
        </h3>
        <p>
            For general inquiries or any other questions, you can reach us at:
        </p>
        <p>
            Email: info@seafooddelight.com
        </p>

    </li>
    <li>
        <h3>
            FOLLOW US
        </h3>
        <p>
            Facebook: facebook.com/SeafoodDelight
        </p>
        <p>
            Instagram: instagram.com/SeafoodDelight
        </p>
    </li>
</ul>

<img class="contuct-picture" src="/Images/contuct.jpg" />


    

    
    
 