@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>
        Yerevan Burger
    </title>
</head>
<body class="background-image index">

    <div>
        <h1 class="dear-customer">
            Dear Customer
        </h1>
        <p id="text">
            it is our pleasure to host you in the beautiful halls of Yerevan burger restaurant where you will appear in an unmatched environment offering an excellent combination of price, quality and service. The menu of the restaurant includes a number of dishes
        </p>
    </div>
    <div class="image-home">
        <img src="~/images/bg.jpg" alt="burger picture" />
    </div>
    <div class="paragraph-white">

        <p>
            Our success is triggered by the highest quality and variety of the dishes we offer. We do our best to review the restaurant’s menu regularly, we use only the freshest products to prepare our dishes that represent the essenses of the culinary art and last but not the least –we make sure our waiters and staff in general are well trained, well-behaved and are able to deliver good service. The interior design of  Yerevan burgers stands out by its harmony, the comfort it offers and its unique decor and as such can satisfy even the most demanding customers. You will feel at home here.
        <p>

        </p>
    </div>
</body>
</html>