@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class=" introduction-text">
    <h1>
        **Welcome to Seafood Master Chef**
    </h1>
</div>

<img class="home-picture1" src="/Images/seafood 1.jpg" />
<div class=" welcome-text">

    <h3>
        Indulge in the Freshest Flavors of the Sea

        At Seafood Master Chef, we invite you on a culinary journey that celebrates the bountiful treasures of the ocean. Our passion for seafood excellence drives us to create dishes that embody the very essence of the sea – fresh, flavorful, and unforgettable.

        Experience the delicate dance of flavors as our skilled chefs craft each dish with precision and care. From succulent grilled lobster to artfully blackened red snapper, every plate tells a story of the ocean's bounty and the expertise that transforms it into a masterpiece.

        Whether you're a seafood enthusiast or a curious connoisseur, we promise an exceptional dining experience that transports you to the coastlines of the world. Join us as we redefine seafood dining, one plate at a time.

        Explore Our Menu
    </h3>
</div>
<img class="home-picture2" src="/Images/seafood 2.jpg" />
<img class="home-picture3" src="/Images/seafood 3.jpg" />
<img class="home-picture4" src="/Images/seafood 4.jpg" />
<img class="home-picture5" src="/Images/seafood 5.jpg" />