@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> these are our products </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>

                <td>
                    @product.Id
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    <a asp-controller="Products"
                       asp-action="Details"
                       asp-route-id="@product.Id"
                       class="btn btn-primary">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>