@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>
        Yerevan Burger Menu
    </title>
    
</head>
<body class="background-image">
    <div class="menu-menu-menu ">
        <h1 class="menu-menu">
            Menu
        </h1>
        <div class="bold h4">
            <ul>
                <li>
                    hamburger
                </li>
                <li>
                    tankoburger
                </li>
                <li>
                    burgerking
                </li>
            </ul>
        </div>
        <div>
            <h2 class="menu-menu">
                Burgerking
            </h2>
            <img src="~/images/Burgerking.jpg" width=" 400" alt="burgerking" />
            <h4 class="h4">
                the prize is 25 dollar
            </h4>
        </div>
        <div>
            <h2 class="menu-menu ">
                Hamburger
            </h2>
            <img src="~/images/hamburger.jpg" width=" 400 " alt="hamburger" />
            <h4 class="h4">
                the prize is 26 dollars
            </h4>
        </div>
        <div>
            <h2 class="menu-menu">
                tankoburger
            </h2>
            <img src="~/images/tankoburger.jpg" width=" 400" alt=" tankoburger" />
            <h4 class="h4">
                the prize is 20 dollars
            </h4>
        </div>
    </div>

</body>
