
<h2 class="menu">
    Menu
</h2>
<ul class="menu-list">
    <li>
        <h3>
            Shrimp Cocktail
        </h3>

        <p>
            Chilled jumbo shrimp served with zesty cocktail sauce.
        </p>
        <p>
            Price: $12.99
        </p>

        <img class="menu-picture1" src="/Images/menu 1.jpg" />
    </li>
    <li>
        <h3>
            Crab-Stuffed Mushrooms
        </h3>

        <p>
            Mushroom caps filled with a savory blend of crab and herbs.
        </p>
        <p>
            Price: $9.99
        </p>
        <img class="menu-picture2" src="/Images/menu 2.jpg" />
    </li>
    <li>
        <h3>
            Seafood Sampler
        </h3>
        <p>
            A platter of shrimp, crab cakes, and calamari, served with dipping sauces.
        </p>
        <p>
            Price: $14.99
        </p>
        <img class="menu-picture3" src="/Images/menu 3.jpg"  />
        
    </li>
</ul>

<ul class="menu-list2">
    <li>
        <h3>
            Lobster Tail
        </h3>
        <p>
            Grilled lobster tail with melted butter and lemon.
        </p>
        <p>
            Price: $30
        </p>
        <img class="menu-picture4" src="/Images/menu 4.jpg" />
    </li>
    <li>
        <h3>
            Crispy Fish Tacos
        </h3>
        <p>
            Beer-battered white fish in soft corn tortillas, topped with slaw and chipotle mayo.
        </p>
        <p>
            Price: $16.99
        </p>
        <img class="menu-picture5" src="/Images/menu 5.jpg" />
    </li>
    <li>
        <h3>
            Seared Scallops
        </h3>
        <p>
            Perfectly seared sea scallops served with a citrus beurre blanc sauce.
        </p>
        <p>
            Price: $19.99
        </p>
        <img class="menu-picture6" src="/Images/menu 6.jpg"  />
    </li>
</ul>
<ul class="menu-list3">
    <li>
        <h3>
            Grilled Swordfish
        </h3>
        <p>
            Flame-grilled swordfish steak with herb butter.
        </p>
        <p>
            Price: $18.99
        </p>
        <img class="menu-picture7" src="/Images/menu 7.jpg"  />
    </li>
    <li>
        <h3>
            Pan-Seared Salmon
        </h3>
        <p>
            Atlantic salmon filet with a maple glaze.
        </p>
        <p>
            Price: $19.99
        </p>
        <img class="menu-picture8" src="/Images/menu 8.jpg"  />
    </li>
    <li>
        <h3>
            Blackened Red Snapper
        </h3>
        <p>
            Spicy blackened red snapper served with a mango salsa.
        </p>
        <p>
            Price: $20.99
        </p>
        <img class="menu-picture9" src="/Images/menu 9.jpg" />
    </li>
</ul>   