@model ProductViewModel
<div class="shopping-cart-container">
    <h1 class="introduction-text">
        WELCOME TO OUR ONLINE SHOP
    </h1>
</div>
<div class="product-list">
    @foreach(var product in Model.Products)
    {
        <div class="product">
            <h1>
                @product.Name
            </h1>
            <h5>
                @product.Description
            </h5>
            <h5>
                Price:$@product.UnitPrice
            </h5>
            <h5>
                Quantity:@product.Quantity
            </h5>
            <p class="product-names">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id">Details</a>
            </p>  
        </div>
    }
</div>
    