@model List<Size>
@{
    ViewData["Title"] = "Sizes";
}
<a class="btn btn-primary" asp-controller="Sizes" asp-action="Create">
    Create Size
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var size in Model)
        {
            <tr>
                <td>
                    @size.Id
                </td>
                <td>
                    @size.Name
                </td>
                <td>
                    @size.Description
                </td>
                <td>
                    <a asp-controller="Sizes" asp-action="Edit" asp-route-id="@size.Id" class="btn btn-secondary">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>