@model ProductViewModel

<!DOCTYPE html>

<html lang="en">

   <head>

     <link rel="stylesheet" href="~/css/site.css">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     
   </head>

   <body>

    <div class="shopping-cart">
        <a asp-controller="ProductShoppingCart" asp-action="Index" class="fa fa-shopping-cart">
            <span class="item-count">@Model.CartCount</span>
        </a>
    </div>

    <h1 class="h2">
        Details
    </h1>

    <form id="add-to-cart-form" asp-controller="ProductShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Product.Id" method="post">

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Product.Id" class="form-label">
                        Number
                    </label>
                    <input asp-for="Product.Id" class="form-control" readonly />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Product.Name" class="form-label">
                        Name
                    </label>
                    <input asp-for="Product.Name" class="form-control" readonly />
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Description" class="form-label">
                Description
            </label>
            <Input asp-for="Product.Description" class="form-control" readonly />
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Product.Quantity" class="form-label">
                        Quantity
                    </label>
                    <input asp-for="Product.Quantity" class="form-control" readonly />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Product.UnitPrice" class="form-label">
                        Unit Price
                    </label>
                    <input asp-for="Product.UnitPrice" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Product.Type.Name" class="form-label">
                    Type
                </label>
                <input asp-for="Product.Type.Name" class="form-control" readonly />
            </div>
            <div>
                <label asp-for="Product.UnitOfMeasure.Name" class="form-label">
                    Unit of measure
                </label>
                <input asp-for="Product.UnitOfMeasure.Name" class="form-control" readonly />
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Manufacturer.Name" class="form-label">
                Manufacturer
            </label>
            <input asp-for="Product.Manufacturer.Name" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <a asp-controller="ProductCategories" asp-action="Index" asp-route-productId="@Model.Product.Id" class="btn btn-secondary">
                Categories
            </a>
        </div>
        <div class="mb-3">
            <a asp-controller="ProductColors" asp-action="index" asp-route-productId="@Model.Product.Id" class="btn btn-secondary">
                Colors
            </a>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">
                Add to cart
            </button>
        </div>

    </form>

   </body>

</html>

